@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    src: url(fonts/CourierPrime-Regular.ttf) format("truetype");
}

:root {
    --bg0: #1D2021;
    --bg1: #282828;
    --bg2: #3C3836;
    --bg3: #504945;
    --fg0: #EBDBB2;
    --orange: #FE9019;
}

html, body {
    height: 100%; 
    overflow: hidden;
    background-color: var(--bg0);

}
#container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#controls {
    padding-bottom: 30dvh;
    display: flex;
    width: 300px;
    justify-content: space-around;
    flex-direction: row;
}
#output {
    height: auto;
    margin-bottom: 80px;
    transform-origin: bottom;
    margin-top: auto;
    font-size: 8.3vw;
    word-break: break-word;
    hyphens: auto;
    font-family: monospace;
}
#spinnerbox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 11vw;
    margin-top: auto;
    margin-bottom: 80px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.tile {
    display: flex;
    color: var(--fg0);
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    height: 11vw;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

.btn {
    border: 2px solid var(--bg2);
    background-color: var(--bg1);
    color: var(--fg0);
}

.btn:active {
    background-color: var(--bg3);
}

#wordButton {
    border-radius: 1em;
    height: 6em;
    width: 6em;
}
#copyButton {
    border-radius: 0.5em;
    height:3em;
    width: 3em;
}
#shareButton {
    border-radius: 0.5em;
    height:3em; 
    width: 3em;
}

#foot {
    display: flex;
    font-size: x-small;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
    color: var(--bg3);
    flex-direction: row;
    width: 150px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 10px;
}


.footbtn {
    color: var(--bg3);
    margin-top: auto;
    margin-bottom: auto;
}
