@font-face {
    font-family: "Courier Prime";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/CourierPrime-Regular.ttf) format("truetype");
}

html, body {
    height: 100%; 
    overflow: hidden;
}
#container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#controls {
    padding-bottom: 30dvh;
    display: flex;
    width: 300px;
    justify-content: space-around;
    flex-direction: row;
}
#output {
    height: auto;
    margin-bottom: 80px;
    transform-origin: bottom;
    margin-top: auto;
    font-size: 8.3vw;
    word-break: break-word;
    hyphens: auto;
    font-family: monospace;
}
#spinnerbox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 10vw;
    margin-top: auto;
    margin-bottom: 80px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.tile {
    display: flex;
    flex-shrink: 0;
    text-align: center;
    justify-content: center;
    background: white;
    height: 11vw;
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

.tiles {
    transform: translateY(0);
    transition: transform 1.5s ease;
}

.tiles.spin {
    transform: translateY(-154vw);
}

#wordButton {
    height: 6em;
    width: 6em;
}
#copyButton {
    height:3em;
    width: 3em;
}
#shareButton {
    height:3em; 
    width: 3em;
}